
/*Global style*/

@font-face {
    font-family:"Lato" ;
    src: url("Lato/Lato-Regular.ttf");
}
@font-face {
    font-family:"Rufina" ;
    src: url("Rufina/Rufina-Bold.ttf");
    font-weight: bold;
}

*{
   box-sizing: border-box;
}


body{
    margin: 0%;
    padding: 0%;
    overflow-x: hidden;
}

.btn{
    font-family: "Rufina";
    height: 4rem;
    font-size: 1.5rem;
    color: white;
    padding: 0 2.5rem;
    border: 2px solid white ;
    /* transition: all o.3s ease; */
    cursor: pointer;
    white-space: nowrap;
}

/* .btn:hover{
    background-color: rgba(255, 255, 255, 0.1);
} */

.btn.clear{
    background-color: rgba(0, 0, 0, -0.4); /*or?*/
    /* opacity: 0.9; */
}
/* header style */

.page-header{
background-image: url("./Images/menu-header.png");
padding: 1rem 5rem 8rem 5rem;
color: white;
background-size: cover;
background-position: center;
display: flex;
min-height: 100vh;
flex-direction: column;

}

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
    width: 100%;
}

.navbar .left{
    display:flex;
    align-items:center;
    gap:1rem;
}

.navbar .right{
    display:flex;
    align-items:center;
    gap:1rem;
}

.navbar .nav-menu{
width: 3rem;
height: auto;
display: none;
}

.navbar .logo{
    height: 5rem;

}

.navbar .right .phone{
    font-family: "Lato";
    font-size: 1.2rem;
}

.page-header .hero-container{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 2rem;
}

.title{
    font-family: "Rufina";
    font-size: 8rem;
    /* background-color: ; */
    width: 70%;
    line-height: 0.9;
    margin: 0;
}

.subtitle{
     font-family: "Rufina";
    font-size: 1.7rem;
    margin-top: 2rem;
    width: 60%;
}

/* Main content styles */

main{
    overflow-x: hidden;
}

.section-heading-container{
    text-align: center;
    padding: 4rem 2rem 2rem 2rem;
}

.section-heading-container .section-title{
    font-family: "Rufina";
    font-size: 5rem;
    margin-bottom: 1rem;
    margin-top: 0;
}

.section-heading-container .section-subtitle{
    font-family: "Lato";
    font-size: 1.1rem;
    margin-bottom: 1rem;
    margin-top: 0;
}

.menu-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 8rem;
    background-color: blanchedalmond;
    gap: 4rem;
}
.menu-container .menu-img{
    width: 50%;
    height: auto;
    object-fit: cover;
}

.menu-container .menu-item > p{
font-size: 2.5rem;
font-family: "Rufina";
text-align: right;
margin-bottom: 0.5rem;
margin-top: 0;
}

.menu-container .menu-item .item-info{
    border-top: 4px dotted brown;
    padding-top: 1.5rem;
    padding-bottom: 0.5rem;
}

.menu-container .menu-item .item-info h3{
    font-family: "Rufina";
    font-size: 3.6rem;
    margin-top: 0;
    margin-bottom: 1rem;
    line-height: 1,1;
}
.menu-container .menu-item .item-info p{
    font-family: "Lato";
    font-size: 1.2rem;
    margin: 0;
    line-height: 1,1;
}

/* Make a reservation styles */
.reservation-container{
    background-color: #ebf0e4;
    padding: 8rem 8rem;
    text-align: center;
}

.reservation-container .scheduling-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 4rem;
    gap: 2rem;
    padding: 1rem 1rem;
}

.scheduling-container input,
.scheduling-container select{
    flex: 1;
    height: 3rem;
    border: 2px solid black;
    padding: 0 2rem;
    background-color: #ebf0e4;
    font-family: 1.5rem;
    font-family: "Lato";
}

.btn.primary{
    background-color: #233000;
    border: 2px solid black;
    margin-top: 4rem;
    padding: 0 4rem;
}

.btn.primary:hover{
    background-color: rgb(21, 113, 61);
    cursor: pointer;
}

.contact-container{
    background-color: #233000;
    display: flex;
    border-bottom: 4px dotted beige;
    padding: 4rem 4rem ;
    margin: 4px;
    color: white;
}